h1 {
    background-image: url('../images/sweet.jpeg'); /* 画像のパスを指定 */
    background-size: cover; /* 画像をh1のサイズに合わせてカバー */
    background-position: center; /* 画像を中央に配置 */
    color: hwb(58 5% 62%); /* テキストの色を白に設定 */
    padding: 100px; /* 余白を追加 */
    text-align: center; /* テキストを中央揃え */
    border-radius: 40px; /* 角を丸く */
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
.image-container {
    display: inline-block;
    margin: 40px;
}
.image-container img {
    width: 100px;
    cursor: pointer;
}
.result {
    background-image: url('../images/sweet.jpeg'); /* 画像のパスを指定 */
    color: hwb(58 4% 47%); /* テキストの色を白に設定 */
    padding: 80px; /* 余白を追加 */
    margin-top: 30px;
    font-size: 35px;
    font-weight: bold;
}
